absl-py
astor
backports-abc
backports.shutil-get-terminal-size
backports.ssl-match-hostname
backports.weakref
bleach
certifi
configparser
cycler
decorator
entrypoints
enum34
funcsigs
future
futures
gast
grpcio
h5py
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-launcher
Keras
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
matplotlib
mistune
mock
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
pathlib2
pbr
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
python-telegram-bot
pytz
PyYAML
pyzmq
qtconsole
scandir
scikit-learn
scipy
seaborn
simplegeneric
singledispatch
six
sklearn
subprocess32
tb-nightly
tensorboard
tensorflow
tensorflow-tensorboard
termcolor
terminado
testpath
tf-nightly
Theano
tornado
traitlets
wcwidth
webencodings
Werkzeug
widgetsnbextension
